html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Amatic SC';
  background: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

}

h1 {
	text-align: center;
	color: white;
	font-size: 3.5rem;
	padding: 5px 0px 0px 0px;
}

.darker-screen {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0));
    display: inline-block;
    height:65%;
    width:100%;
    z-index:-3;
	-webkit-transition: background 1.5s; /* Safari */
	transition: background 1.5s;
	transition-timing-function: linear;
}

.darker-screen-override {
	 	background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0));
	    transition: background 2s;
	    transition-timing-function: linear;
}



/*
=====
LEVEL 1. RESET STYLES
=====
*/

button{
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
}

.button{
  cursor: pointer;
  color: var(--colorWhite);
}

a{
  display:inline-block;
  text-decoration: none;
}

.link{
  font-family: 'Amatic SC', cursive;
  color: inherit;
  transition-duration: .3s;
}
.link:hover {
	color: rgba(0,0,0,0.4);
	text-decoration: none;
}

.list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/*
=====
LEVEL 2. MENU STYLES
=====
*/

/* menu */

.header{
  box-sizing: border-box;
  width: 100%;
  color: var(--colorWhite);

  display: flex;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.menu{
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 55px;

  height: 0;
  transform: translate3d(0, -100%, 0);
  opacity: 0;

  display: flex;
  align-items: flex-end;

  position: fixed;
  top: 0;
  left: 0;
}

.menu__list{
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  display: none;
	padding-top: 20px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__group{
  padding: .4rem 3.3rem; 
  font-size: 2.6rem;
  /*font-weight: 700*/;
  text-transform: uppercase;
}

.menu__group_active{
  background-color: var(--colorWhite);
  color: var(--colorBlack);
}

.menu__item{
  padding: 8px 25px;
  display: block;
}

/* hamburger */

.hamburger{
  position: relative;
  line-height: 1;
  padding-bottom: .3em;
}

.hamburger:before{
  content :"";
  width: 100px;
  height: 100px;
  background: var(--colorMain);
  border-radius: 50%;

  position: absolute;
  bottom: -55px;
  left: -35px;
}

.hamburger__button{
  width: 1.4em;
  height: 1em;
  font-size: 20px;

  position: relative;
  text-indent: -9999px;
  z-index: 2;
}

.hamburger__button:before, .hamburger__button:after, .hamburger__label{
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: currentColor;

  position: absolute;
  left: 0;
}

.hamburger__button:before, .hamburger__button:after{
  content:"";
}

.hamburger__button:before{
  top: 0;
}

.hamburger__button:after{
  bottom: 0;
}

.hamburger__button:focus{
  outline: none;
}

.hamburger__label{
  margin-top: -.1em;
  top: 50%;
}

/* activated state */

.js-menu_activated{
  overflow: hidden;
}

.js-menu_activated .menu{
  height: 100%;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.js-menu_activated .hamburger:before{
  width: 50vh;
  height: 50vh;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
}

.js-menu_activated .menu__list{
  display: block;
}

.js-menu_activated .hamburger__button:before{
  transform: translate3d(0, -50%, 0) rotate(45deg);
  top: 50%;
}

.js-menu_activated .hamburger__button:after{
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.js-menu_activated .hamburger__label{
  transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0;
}

/*
=====
LEVEL 3. MOBILE ANIMATION STYLES
=====
*/

.menu{
  transition: opacity .2s ease-out;
}

.js-menu_activated .menu{
  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
}

.hamburger:before{
  will-change: width, height;
  transition: transform .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    width .3s cubic-bezier(0.04, -0.1, 0.29, 0.98),
    height .3s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}

.js-menu_activated .hamburger:before{
  transition-duration: 1s;
}

.hamburger__button:before, .hamburger__button:after{
  transition-property: transform;
}

.hamburger__button:before, .hamburger__button:after, .hamburger__label{
  transition-timing-function: ease;
  transition-duration: .15s;
}

.hamburger__label{
  transition-property: transform, opacity;
}



body{
  font-size: 1.6rem;
  color: var(--colorBlack);*/

  margin: 0;
  -webkit-overflow-scrolling: touch;   
}

:root{
  --colorBlack: #222;
  --colorWhite: #fff;
  --colorGray: #f0f0f0;
  --colorMain: linear-gradient(0.25turn, #bf496f, #593da1);
  --colorMainLight: #8491d8;
  --colorMainDark: #233286;
}
.front_page_content {
  height:100%;
  position: relative;
  width : 360px;
  margin: 0 auto;
 
}
.static_box {
	position: absolute;
	width : 300px;
    height: 180px;
    left  : 30px;
    top: 70px;

}
.static_squiggle_svg {
  position:absolute;
  width: 100%;
  height: 40vh;

}
#squiggle_channel_1 {
display:none;
}


line {
  stroke-width: 0;
}
#channel_2_wave {
  position: absolute;
  stroke-width: 5;
  stroke-opacity: .8;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.waves {
  position: absolute;
  stroke-width: 5;
  stroke-opacity: .4;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#wave {
	  position: absolute;
  stroke-width: 5;
  stroke-opacity: .8;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#wave1stroke {
	stroke:white;
}
#wave2stroke {
	stroke:yellow;
}
#wave3stroke {
	stroke:cyan;
}
#wave4stroke {
	stroke:green;
}
#wave5stroke {
	stroke:magenta;
}
#wave6stroke {
	stroke:red;
}
#wave7stroke {
	stroke:blue;
}
.gif_player {
	width: 100%;
	position: absolute;
	opacity: 0.8;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	transform: rotate(3deg) translateZ(0);
}
.static {
	position: absolute;
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	opacity: 0.5;
	transform: rotate(-1deg) translateZ(0);
	-webkit-transition: width 300ms,left 300ms, top 300ms, opacity 300ms; /* Safari */
    transition: width 300ms,left 300ms,top 300ms, opacity 300ms;
    transition-timing-function: ease-in;
}

.turn_off {
	width : 500px;
	opacity: 0.8;
	top: -150px;
	left: -100px;
	height: 800px;
	transform: rotate(3deg) translateZ(0);
	-webkit-transition: width 300ms,left 300ms, top 300ms; /* Safari */
    transition: width 300ms,left 300ms,top 300ms;
    transition-timing-function: ease-out;
}
.gooseman {
	position: absolute;
	width: 100%;
	top   : 80px;
}
.tv {
	z-index:11;
	position:absolute;
	width: 100%;
	top   : 90px;
}
.dial_1 {
	z-index:12;
	position: absolute;
	width: 60px;
	height: 60px;
	left:290px;
	top:95px;
}
.dial_2 {
	z-index:12;
	position: absolute;
	width: 50px;
	height: 50px;
	left:310px;
	top:200px;

}
.ball {
  position: absolute;
  top   : 90px;
  left  : 90px;
  width : 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}




.glitch {
  font-size: 100px;

}

@keyframes noise-anim {
  0% {
    clip: rect(36px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(72px, 9999px, 35px, 0);
  }
  10% {
    clip: rect(15px, 9999px, 91px, 0);
  }
  15% {
    clip: rect(90px, 9999px, 2px, 0);
  }
  20% {
    clip: rect(50px, 9999px, 59px, 0);
  }
  25% {
    clip: rect(84px, 9999px, 71px, 0);
  }
  30% {
    clip: rect(22px, 9999px, 81px, 0);
  }
  35% {
    clip: rect(99px, 9999px, 65px, 0);
  }
  40% {
    clip: rect(24px, 9999px, 12px, 0);
  }
  45% {
    clip: rect(35px, 9999px, 50px, 0);
  }
  50% {
    clip: rect(63px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(15px, 9999px, 61px, 0);
  }
  60% {
    clip: rect(58px, 9999px, 68px, 0);
  }
  65% {
    clip: rect(48px, 9999px, 31px, 0);
  }
  70% {
    clip: rect(32px, 9999px, 5px, 0);
  }
  75% {
    clip: rect(96px, 9999px, 15px, 0);
  }
  80% {
    clip: rect(19px, 9999px, 44px, 0);
  }
  85% {
    clip: rect(70px, 9999px, 32px, 0);
  }
  90% {
    clip: rect(50px, 9999px, 42px, 0);
  }
  95% {
    clip: rect(33px, 9999px, 70px, 0);
  }
  100% {
    clip: rect(67px, 9999px, 75px, 0);
  }
}
.glitch:after {
  position: absolute;
  left: 2px;
  box-shadow: -1px 0 red;
  top: 0;
  border-color: hsla(36, 95%, 85%, 1);

  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(50px, 9999px, 31px, 0);
  }
  5% {
    clip: rect(78px, 9999px, 65px, 0);
  }
  10% {
    clip: rect(94px, 9999px, 21px, 0);
  }
  15% {
    clip: rect(25px, 9999px, 13px, 0);
  }
  20% {
    clip: rect(15px, 9999px, 1px, 0);
  }
  25% {
    clip: rect(34px, 9999px, 31px, 0);
  }
  30% {
    clip: rect(97px, 9999px, 59px, 0);
  }
  35% {
    clip: rect(31px, 9999px, 20px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 89px, 0);
  }
  45% {
    clip: rect(93px, 9999px, 85px, 0);
  }
  50% {
    clip: rect(92px, 9999px, 63px, 0);
  }
  55% {
    clip: rect(16px, 9999px, 73px, 0);
  }
  60% {
    clip: rect(63px, 9999px, 89px, 0);
  }
  65% {
    clip: rect(14px, 9999px, 30px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 31px, 0);
  }
  75% {
    clip: rect(77px, 9999px, 81px, 0);
  }
  80% {
    clip: rect(79px, 9999px, 19px, 0);
  }
  85% {
    clip: rect(20px, 9999px, 83px, 0);
  }
  90% {
    clip: rect(2px, 9999px, 7px, 0);
  }
  95% {
    clip: rect(50px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(18px, 9999px, 67px, 0);
  }
}


