#ribbon-menu {
  position: absolute;
  margin-top: -130px;
  z-index: 10;
}

.block {
  cursor: pointer;
}
.block text {
  fill: white;
}
.block polygon {
  fill: white;
  opacity: 0.3;
  transition: opacity 0.3s ease;
}
.block:hover polygon {
  opacity: 0.5;
}